[DEVICE]
Name=P33FJ256GP710A
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Spectral3_DSPIC.c
[HEADERS]
Count=3
File0=Click_Spectral3_timer.h
File1=Click_Spectral3_config.h
File2=Click_Spectral3_types.h
[PLDS]
Count=1
File0=Click_Spectral3.pld
[Useses]
File0=Spectral3_DSPIC
File1=UART
File2=C_String
File3=easypicfusion_v7_P33FJ256GP710A
File4=Conversions
Count=5