[DEVICE]
Name=CEC1702
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Spectral3_CEC.c
[HEADERS]
Count=3
File0=Click_Spectral3_timer.h
File1=Click_Spectral3_config.h
File2=Click_Spectral3_types.h
[PLDS]
Count=1
File0=Click_Spectral3.pld
[Useses]
File0=Spectral3_CEC_M4
File1=UART
File2=C_String
File3=clicker_2_CEC1702
File4=Conversions
Count=5